<h1>Prueba#index</h1>
begin
Inserta una imagen
Pero dicha imagen tiene que estar en la carpeta images en public
end
<hr>
<img src="http://localhost:3000/images/a.jpg">
<%=
"Hola mundo "+"probando"
%>
